<form>
  <div class="agregar">
      <div class="agregar_contenedor">
          <select (change)="tipoOperacion($event)" class="agregar_tipo" [ngClass]="{redfocus: tipo === 'egresoOperacion'}">
              <option value="ingresoOperacion" selected>+</option>
              <option value="egresoOperacion">-</option>
          </select>
          <input name="descripcionInput" type="text" class="agregar_descripcion" placeholder="Agregar Descripción"
          [(ngModel)]="descripcionInput"
          [ngClass]="{redfocus: tipo === 'egresoOperacion'}">
          <input name="valorInput" type="number" class="agregar_valor" placeholder="Valor"
          [(ngModel)]="valorInput"
          [ngClass]="{redfocus: tipo === 'egresoOperacion'}">
          <button type="submit" class="agregar_btn" (click)="agregarValor()">
            <i [ngClass]="{red: tipo === 'egresoOperacion'}" class="ion-ios-checkmark-outline"></i>
          </button>
      </div>
  </div>
</form>
